@model MOVIEZ_.Models.Customer

@{
    ViewBag.Title = Model.Name;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<h3>Customer Id: @Model.Id </h3>
<br />
<h4>Contact Information:</h4>
<br />
<p>@Model.street_address</p>
<p>@Model.city_address , @Model.state_address , @Model.zip_address </p>
<p>phone: @Model.phone_address &emsp; email: @Model.email_address</p>




