@model MOVIEZ_.ViewModels.MovieFormViewModel

@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Title</h2>

@using (Html.BeginForm("Save", "Movies"))
{
    <hr />
    <div class="form-group">
        @Html.Label("Required Information")<br />
        @Html.LabelFor(m => m.Movie.Name)
        @Html.TextBoxFor(m => m.Movie.Name, new { @class = "form-control", placeholder = "Movie Name" })
        <br />

        @Html.LabelFor(m => m.Movie.ReleaseDate)
        @Html.TextBoxFor(m => m.Movie.ReleaseDate, "{0:MMMM d, yyyy}", new { @class = "form-control", placeholder = "Release date" }) <br />

        @Html.LabelFor(m => m.Movie.Description)
        @Html.TextAreaFor(m => m.Movie.Description, new { @class = "form-control", rows = "15", placeholder = "Movie description" })
        <br />

        @Html.DropDownListFor(m => m.Movie.GenreId, new SelectList(Model.Genres, "Id", "Name"), "Select Genre", new { @class = "form-control" })<br />


        @Html.LabelFor(m => m.Movie.InStock)
        @Html.TextBoxFor(m => m.Movie.InStock, new { @class = "form-control", placeholder = "Number in Stock" })
        <br />

    </div>

    <hr />
    @Html.HiddenFor(m => m.Movie.Id)
    <button type="submit" class="btn btn-info">Save</button>
}



