@model MOVIEZ_.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer Information</h2>

@using (Html.BeginForm("Save", "Customers"))
{
    <hr />
    <div class="form-group">
        @Html.Label("Required Information")<br />        
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", placeholder = "Customer Name" })<br />
        
        @Html.LabelFor(m=> m.Customer.street_address)
        @Html.TextBoxFor(m => m.Customer.street_address, new { @class = "form-control", placeholder = "Street Address" })<br />
        @Html.TextBoxFor(m => m.Customer.city_address, new { @class = "form-control", placeholder = "City" })<br />
        @Html.TextBoxFor(m => m.Customer.state_address, new { @class = "form-control", placeholder = "State (XX)", maxlength = "2" })<br />
        @Html.TextBoxFor(m => m.Customer.zip_address,"{0:#.#}", new { @class = "form-control", placeholder = "Zip Code", @type = "number" })<br />
        
        @Html.TextBoxFor(m => m.Customer.phone_address,"{0:#.#}", new { @class = "form-control", placeholder = "Phone", @type = "tel" })<br />

        @Html.TextBoxFor(m => m.Customer.email_address, new { @class = "form-control", placeholder = "Email", @type = "email" })<br />

        @Html.LabelFor(m=>m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
    </div>
    <hr />
    <div class="form-group">
        @Html.Label("Optional Information")<br />
        @Html.TextBoxFor(m => m.Customer.birthdate, "{0:d MMM yyyy}", new { @class = "form-control", placeholder = "Birthdate (YYYY-MM-DD)" })
    </div>


    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribed) Subscribe to Newsletter?
        </label>
    </div>
    <hr />

    @Html.HiddenFor(m => m.Customer.Id);

    <button type="submit" class="btn btn-info">Save</button>

}


